// Theme1
$theme1-header-background-color:#33353F;
$theme1-main-background-color:#FFFFFF;
$theme1-nav-background-color:#EEEEEE;
$theme1-aside-background-color:#EEEEEE;
$theme1-footer-background-color:#33353F;

$theme1-header-font-color:#FFFFFF;
$theme1-main-font-color:#33353F;
$theme1-nav-font-color:#33353F;
$theme1-aside-font-color:#33353F;
$theme1-footer-font-color:#FFFFFF;
