//再利用するスタイルを定義します

@mixin pageDefault {
  font-size: 20px;
}

@mixin componentDefault {
  font-size: 10px;
  padding: 8px;
  border:solid 1px #535bf2;
}

@mixin divCommonFontSize ($fontSizeValue) {
  font-size: $fontSizeValue;
  background-color: bisque;
  line-height: normal;
}

@mixin divPxFontSize ($fontSizeValue){
  font-size: $fontSizeValue;
  background-color: #d1ffc4;
  line-height: normal;
}

@mixin divCommonWidth ($widthValue) {
  width: $widthValue;
  background-color: #b7d5f8;
  white-space: nowrap;
  line-height: normal;
}

@mixin divPxWidth ($widthValue){
  width: $widthValue;
  background-color: #f8b7c6;
  white-space: nowrap;
  line-height: normal;
}