.mainComponent{
  .reference {

  }

  section {
    padding: 16px 0;
  }

  .px {
    font-size: 10px;
  }

  .em {
    font-size: 1em;
  }

  .rem {
    font-size: 1rem;
  }

  .percent {
    font-size: 100%;
  }


  .px2 {
    font-size: 20px;
  }

  .em2 {
    font-size: 2em;
  }

  .rem2 {
    font-size: 2rem;
  }
  .percent2 {
    font-size: 200%;
  }

}

