.fontSizePage{

  h4 {
    margin: 0;
    line-height: 1;
  }

  p, .p {
    background-color: rgba(245, 144, 201, 0.5);
    font-size: 40px;
    //margin-block-start: 1em;
    //margin-block-end: 1em;
    //line-height: 1.5;
    //margin-block-start: 0;
    //margin-block-end: 0;
    //line-height: 1;


  }

  span  {
    background-color: rgba(126, 152, 238, 0.5);
  }

  //.YuGothic {
  //  font-family: "游ゴシック", YuGothic;
  //}

  .text{
    line-height: 2em;

  }
  .square1 {
    color:rgba(245, 144, 201, 0.5);
    background-color: unset;
  }

  .square2 {
    color:rgba(126, 152, 238, 0.5);
    background-color: unset;
  }

  .text {
    background-color: unset;
    font-size: unset;
    line-height: unset;
  }
  .lineHeight{
    line-height: 1;
  }
}